@page "/employeetypes/edit/{id:int}"


<h3>Edit Employee</h3>

@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}

<FormComponent ButtonText="Update" EmployeeType="employeeType" OnValidSubmit="@EditEmployeeType" />


