@inherits LayoutComponentBase

@code {
    [Inject]
    private NavigationManager Navigation { get; set; }

    protected override void OnInitialized()
    {
        if (Navigation.Uri == Navigation.BaseUri)
        {
            Navigation.NavigateTo("/employeetypes");
        }
    }
}
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
